<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css" />
    <script>
        tailwind.config = {
            extends: {
                screens: {
                    xs: {
                        min: '300px'
                    },
                    sm: {
                        min: '375px'
                    },

                    md: {
                        min: '768px'
                    },
                    lg: {
                        min: '1024px',
                        max: '1365px'
                    },
                    xl: { min: '1366px' },
                    xxl: { min: '1920px' }
                }
            }
        }
    </script>
</head>
<style>
    @import url('https://fonts.googleapis.com/css2?family=Inter:wght@200&display=swap');
</style>
<body>
    <div>
        <div class="text-center">
            <h1 class="mb-4 text-6xl font-semibold text-red-500">404</h1>
            <p class="mb-4 text-lg text-gray-600">Oops! Looks like you're lost.</p>
            <div class="animate-bounce">
                <svg class="mx-auto h-16 w-16 text-red-500" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 19l9 2-9-18-9 18 9-2zm0 0v-8"></path>
                </svg>
            </div>
            <p class="mt-4 text-gray-600">Let's get you back <a href="/" class="text-blue-500">home</a>.</p>
        </div>
    </div>
    </div>
</body>
</html>
