
    <div class="flex flex-col items-center justify-center h-screen w-screen">
        <div class="relative py-3 max-w-screen-xl sm:max-w-xl rounded-2xl shadow-[0px_4px_16px_rgba(17,17,26,0.1),_0px_8px_24px_rgba(17,17,26,0.1),_0px_16px_56px_rgba(17,17,26,0.1)]  sm:mx-auto">
            <div
                    class="relative px-4 py-10 bg-white mx-8 md:mx-0 sm:p-10"
            >
                <div class="">
                    <form action="/thank-you" method="POST" enctype="application/x-www-form-urlencoded">

                        <div class="mt-5">

                            <label
                                    class="font-semibold  text-sm text-gray-600 pb-1 block min-w-96"
                                    for="email"
                            >E-mail</label
                            >
                            <input
                                    class="border rounded-lg px-3 py-2 mt-1 mb-5 text-sm w-full"
                                    type="text"
                                    id="email"
                                    name="email"
                            />

                            <label
                                    class="font-semibold  text-sm text-gray-600 pb-1 block min-w-96"
                                    for="username"
                            >name</label
                            >
                            <input
                                    class="border rounded-lg px-3 py-2 mt-1 mb-5 text-sm w-full"
                                    type="text"
                                    id="username"
                                    name="username"
                            />

                            <label
                                    class="font-semibold text-sm text-gray-600 pb-1 block"
                                    for="password"
                            >Password</label
                            >
                            <input
                                    class="border rounded-lg px-3 py-2 mt-1 mb-5 text-sm w-full"
                                    type="password"
                                    id="password"
                                    name="password"
                            />
                        </div>
                        <div class="text-right mb-4">
                            <a
                                    class="text-xs font-display font-semibold text-gray-500 hover:text-gray-600 cursor-pointer"
                                    href="#"
                            >
                                Forgot Password?
                            </a>
                        </div>

                        <div class="mt-5">
                            <button
                                    class="py-2 px-4 bg-blue-600 hover:bg-blue-700 focus:ring-blue-500 focus:ring-offset-blue-200 text-white w-full transition ease-in duration-200 text-center text-base font-semibold shadow-md focus:outline-none focus:ring-2 focus:ring-offset-2 rounded-lg"
                                    type="submit"
                            >
                                Log in
                            </button>
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>
