<div style="width: 100%; overflow: hidden; ">
    <div style="display: grid;place-items: center;width: 100%">
        <div >
            <div class="header_mail"
                 style="display: flex; justify-content: space-between"
            >
                <img src="https://ci3.googleusercontent.com/meips/ADKq_NZGSD9g6N1n3vqhbiXdeUz9CO9rvljGRxQQB2nlANCDSoUAte6UMjvmyF8dleFgP6zEPp2wUNaXfU8Co6YEQSZarnObdr4EM94jTnHKDe2bz9FxDinxyKn4_-NG5u8YqctaOsNPrIgs6h-BapTUequh=s0-d-e1-ft#https://bucket.mlcdn.com/a/1252/1252504/images/1daa2d79ac761042b291f047e182ce7078f17ffd.png" id="m_355141115288353997logoBlock-4" border="0" alt="" width="100" style="display:block" class="CToWUd" data-bit="iit">

                <h3>PETSHOP</h3>

            </div>
            <div style="margin: 3rem 0;">

            </div>

            <div style="border:0.5px solid #dcdcdc; margin: 1rem 0">  </div>
            <div>
                <p style="line-height: 1.5rem">  Vui lòng đến đúng giờ, nếu có bất kỳ sự thay đổi nào, <br/>
                    hãy liên hệ với chúng tôi qua:</p>

                <div style="display: flex;gap:12px">
                    <div id="section3">
                        <a href="tel:1-562-867-5309" target="_blank">
                            <img src="cid:iphone" alt="">
                        </a>
                    </div>
                    <div id="section">
                        <a href="https://www.facebook.com/" target="_blank">
                            <img src="cid:zalo" alt="">
                        </a>
                    </div>
                    <div id="section2">
                        <a href="#" target="_blank">
                            <img src="cid:facebook" alt="">
                        </a>
                    </div>
                    <div id="discord">
                        <a href="#" target="_blank">
                            <img src="cid:discord" alt="">
                        </a>
                    </div>
                </div>
            </div>
            <div>
                <p>Trân trọng,</p>
                <small> *Quý khách vui lòng không trả lời email này*</small>
            </div>
        </div>
    </div>
</div>