
<div class="flex flex-col items-center justify-center h-screen w-screen">
    <div class="relative py-3 max-w-screen-xl sm:max-w-xl rounded-2xl shadow-[0px_4px_16px_rgba(17,17,26,0.1),_0px_8px_24px_rgba(17,17,26,0.1),_0px_16px_56px_rgba(17,17,26,0.1)]  sm:mx-auto">
        <div
                class="relative px-4 py-10 bg-white mx-8 md:mx-0 sm:p-10"
        >
            <p>Thank for apply, you can look up font-store in link</p>
            <a href="http://localhost:3000/">Front store</a>

        </div>
    </div>
</div>
